:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --success-color: #28a745;
  --danger-color: #dc3545;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.websocket-status {
  grid-column: 1 / 4;
  background-color: var(--success-color);
  color: white;
  padding: 10px;
  text-align: center;
}

.top-bar {
  grid-column: 1 / 4;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
}

.mid-section {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-bar {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-message {
  grid-column: 1 / 4;
  color: var(--danger-color);
  text-align: center;
  padding: 10px;
}

.loading-indicator {
  grid-column: 1 / 4;
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darken(var(--primary-color), 10%);
}

@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .websocket-status, .top-bar, .bottom-bar, .error-message, .loading-indicator {
    grid-column: 1;
  }

  .mid-section {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

.loading-indicator-container, .error-message-container {
  height: 30px;  /* Reserve space for the loading message */
  text-align: center;
  margin-bottom: 10px;
}

.loading-indicator, .error-message {
  color: var(--primary-color);
}

.error-message {
  color: var(--danger-color);
}

.temperature-gauge-container, .ascent-descent-indicator-container, .buttons-container {
  padding: 10px;
  margin: 5px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Keyframes for temperature gauge animation */
@keyframes temperatureAnimation {
  0% { background-color: #007bff; }
  50% { background-color: #28a745; }
  100% { background-color: #dc3545; }
}

.temperature-gauge-container {
  animation: temperatureAnimation 3s ease-in-out infinite;
}